<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
    </head>
    <body>
        <h1>Odin Recipes</h1>

        <div>
            <ul>
                <li><a href="PBJ">Peanut Butter and Jelly Sandwich</a></li>
                <li><a href="chicken-salad">Chicken Salad</a>
            </ul>
        </div>
    </body>
</html>