<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recipes - PBJ Sandwich</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" contents="" />
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <h1>Peanut Butter and Jelly Sandwich</h1>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Peanut-Butter-Jelly-Sandwich.jpg/1024px-Peanut-Butter-Jelly-Sandwich.jpg",
        alt="A picture of a pb&j" />

        <h2>Description</h2>

        <p>A timeless classic involving two slices of bread, jam, and none other than
            some fresh peanut butter. Why choose this? Well.. might I ask why <em>not</em>
            choose this beast of a meal. With protein, processed sugar, bleached flour, and 
            love; this sandwich is truly a modern marvel.
        </p>

        <h3>Ingredients</h3>
        <ul>
            <li>Wonder bread</li>
            <li>Peanut butter</li>
            <li>Jelly</li>
        </ul>

        <h3>Assembly</h3>
        <ol>
            <li>Gather all the ingredients together</li>
            <li>Open the bread</li>
            <li>Remove two slices, place aside</li>
            <li>Get the peanut butter</li>
            <li>Grab a knife from the drawer</li>
            <li>Open peanut butter lid</li>
            <li>Insert knife into open peanut butter jar and scoop</li>
            <li>Spread peanut butter on one slice of the bread</li>
            <li>Set aside newly-peanut-buttered bread</li>
            <li>Close the peanut butter with the lid</li>
            <li>Clean the knife in the sink, and dry</li>
            <li>Repeat steps 6-11 above, substituting jelly for peanut butter and use the other slice of bread that isn't smeared</li>
            <li>Combine the jelly spread side with the peanut butter spread side</li>
            <li>Place everything back where it came from</li>
            <li>Enjoy your little taste of humanity's greatest</li>
        </ol>

        <a href="/">Home</a>
    </body>
</html>
